{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
    <!-- Add your CSS or link to external stylesheets here -->
</head>
<body>
    <h2>Password Reset Request</h2>
    <p>Hello {{ user.username }},</p>
    <p>Please click the link below to reset your password:</p>
    <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">Reset Password</a></p>
    <p>If you did not request this, please ignore this email.</p>
</body>
</html>
