{% extends 'base1.html' %}
{% load static %}
{% block title %}Add Volunteer{% endblock %}

{% block body %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Become a Volunteer Today</h3>
        <p class="fs-5 text-white mb-4">Sign Up to Support Our Mission and Make a Difference</p>

    </div>
</div>
<!-- Header End -->

<!-- Form Section Start -->
<div class="container py-5">
    <h2 class="mb-4">Register for Volunteering</h2>
    <!-- Display messages -->
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="border p-4 rounded bg-light">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label for="id_role" class="form-label">Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="id_role" class="form-label">Phone</label>
            {{ form.phone_number }}
        </div>

        <div class="mb-3">
            <label for="id_image" class="form-label">Image</label>
            {{ form.image }}
        </div>

        <div class="mb-3">
            <label for="id_bio" class="form-label">Reason</label>
            {{ form.reason }}
        </div>

        <button type="submit" class="btn btn-primary">Add Volunteer</button>
    </form>
</div>

<!-- Form Section End -->
{% endblock %}