
{% extends 'shop.html' %}

{% load static %}

{% block sort %}"{% url 'fav_product_sort' %}"{% endblock sort %}
{% block search %}"{% url 'view_favorites' %}"{% endblock search %}
{% block sugg %}"{% url 'view_favorites' %}?search={{ suggestion }}"{% endblock sugg %}<!-- Fruits Shop Start-->
{% block favBody %}

    {% block mostFav %}{% endblock mostFav %}


    <div class="row g-4 mt-2">
        {% for product in fav %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ product.image.url }}" class="img-fluid w-100" alt="{{ product.name }}">
                    </div>
                    <div class="text-dark border p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="mb-0">{{ product.name }}</h4>
                            <!-- Form to add to favorites -->
                            <form action="{% url 'del-favorites' product.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-dark">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </div>
                        <p class="mb-4">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                                            <a href="{{ product.link }}"
                                               class="nav-item nav-link btn btn-primary text-white me-3">View
                                                Product</a>
                                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>




{% endblock favBody%}

